.reserve-btn {
  background-color: var(--primary);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.reserve-btn:hover {
  background-color: var(--dark);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

button {
  background-color: #FEA116;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #f78a10;
}


input[type="date"] {
  background-color: #F1F8FF;
  border: 1px solid #FEA116;
  border-radius: 4px;
  padding: 8px;
  font-size: 1rem;
  color: #0F172B;
}

.selected-day {
  background-color: #FEA116 !important;
  color: #FFFFFF !important;
  border-radius: 50%;
}